Repository Yezi-TY/Echo_forU: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add path utilities and inference utilities for centralized path management
  backend/utils/inference_utils.py
  backend/utils/path_utils.py
Due: none

fix: convert all script paths to relative paths for better portability
  scripts/setup.sh
  scripts/start-backend.sh
  scripts/start-desktop.sh
  scripts/start-frontend.sh
  scripts/start-web.sh
Due: none

fix: improve espeak backend initialization with delayed loading and better error handling
  backend/g2p/g2p/__init__.py
  backend/g2p/g2p/text_tokenizers.py
  backend/g2p/utils/g2p.py
  g2p/g2p/__init__.py
  g2p/g2p/text_tokenizers.py
  g2p/utils/g2p.py
Due: none

fix: resolve dtype mismatch issues in model inference (Half vs Float)
  backend/diffrhythm2/cfm.py
  backend/services/inference_service.py
Due: none

feat: implement async task creation with immediate response and background execution
  backend/api/generate.py
  backend/api/tasks.py
  backend/services/task_service.py
Due: none

feat: add real-time progress tracking with SSE, WebSocket, and polling fallback
  frontend/shared/lib/api-client.ts
  frontend/shared/lib/index.ts
  frontend/shared/lib/sse-client.ts
  frontend/shared/lib/task-poller.ts
  frontend/shared/package.json
  frontend/web/app/page.tsx
Due: eslint --fix, prettier --write

feat: add audio file serving API route for generated music files
  frontend/web/app/api/audio/route.ts
Due: eslint --fix, prettier --write

refactor: improve frontend components and i18n support
  frontend/desktop/src/App.tsx
  frontend/shared/components/AudioPreview.tsx
  frontend/shared/components/HardwareInfoCard.tsx
  frontend/shared/components/LanguageSwitcher.tsx
  frontend/shared/components/Layout.tsx
  frontend/shared/lib/backend-connection.ts
  frontend/shared/lib/i18n/i18n.ts
Due: eslint --fix, prettier --write

fix: update Tauri configuration and add required icons for desktop app
  frontend/desktop/src-tauri/gen/schemas/acl-manifests.json
  frontend/desktop/src-tauri/gen/schemas/capabilities.json
  frontend/desktop/src-tauri/gen/schemas/desktop-schema.json
  frontend/desktop/src-tauri/gen/schemas/macOS-schema.json
  frontend/desktop/src-tauri/icons/icon.png
  frontend/desktop/src-tauri/tauri.conf.json
Due: prettier --write

refactor: simplify middleware logging and remove debug output
  backend/main.py
Due: none

debug for windows
  backend/diffrhythm2/cfm.py
  backend/g2p/g2p_generation.py
  backend/g2p/utils/g2p.py
  backend/main.py
  backend/requirements.txt
  backend/services/inference_service.py
  backend/utils/inference_utils.py
  g2p/g2p/__init__.py
  g2p/g2p/text_tokenizers.py
  g2p/utils/g2p.py
  scripts/start-backend.bat
  scripts/start-desktop.bat
  scripts/start-web.bat
Due: none

debug for windows, update ps1 scripts for win
  scripts/setup.ps1
  scripts/start-backend.ps1
  scripts/start-desktop.ps1
  scripts/start-web.ps1
Due: none

debug for windows, update ps1 scripts for win
  scripts/setup.ps1
Due: none

debug for windows, update ps1 scripts for win
  scripts/start-backend.ps1
  scripts/start-web.ps1
Due: none

Path conditions:
  eslint --fix: any of: frontend/**/*.{ts,tsx}
  prettier --write: (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.{json,md})
